# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [3]:
Chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### 3) See the first 10 entries

In [4]:
Chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [5]:
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [6]:
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [8]:
for i in Chipo.columns:
    print(i)

order_id
quantity
item_name
choice_description
item_price

### 7) Which was the most-ordered item?

In [29]:
mylist=Chipo.groupby('item_name').sum().drop('order_id',axis=1)
for i in mylist.sort_values('quantity',ascending=False).head(1).index:
    print(i)

Chicken Bowl

### 8) For the most-ordered item, how many items were ordered?

In [36]:
mylist=Chipo.groupby('item_name').sum().drop('order_id',axis=1)
mylist.sort_values('quantity',ascending=False).head(1).iloc[0,0]

761

### 9) What was the most ordered item in the choice_description column?

In [46]:
dict={}
Chipo['choice_description'].fillna(dict,axis=0)

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
5       [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...
6                                                     NaN
7       [Tomatillo Red Chili Salsa, [Fajita Vegetables...
8       [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
9       [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...
10                                                    NaN
11      [Roasted Chili Corn Salsa, [Fajita Vegetables,...
12      [Roasted Chili Corn Salsa, [Rice, Black Beans,...
13      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
14                                                    NaN
15                                                    NaN
16      [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
17      [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
18                                               [Sprite]
19      [Tomatillo Red Chili Salsa, [Fajita Vegetables...
20                                                    NaN
21      [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
22                                   [Pomegranate Cherry]
23      [[Tomatillo-Green Chili Salsa (Medium), Tomati...
24                                           [Grapefruit]
25                                                    NaN
26      [Roasted Chili Corn Salsa (Medium), [Pinto Bea...
27      [[Tomatillo-Green Chili Salsa (Medium), Roaste...
28                                           [Dr. Pepper]
29      [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
                              ...
4592    [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...
4593    [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...
4594    [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...
4595    [Tomatillo Green Chili Salsa, [Rice, Black Bea...
4596                                                  NaN
4597                                             [Nestea]
4598                                                  NaN
4599        [Roasted Chili Corn Salsa, [Cheese, Lettuce]]
4600                                                  NaN
4601                                          [Diet Coke]
4602                        [Tomatillo Green Chili Salsa]
4603                        [Tomatillo Green Chili Salsa]
4604    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
4605                                                  NaN
4606                                               [Coke]
4607    [Tomatillo Green Chili Salsa, [Rice, Cheese, S...
4608    [Tomatillo Red Chili Salsa, [Fajita Vegetables...
4609                                             [Sprite]
4610    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4611    [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...
4612    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
4613                                                  NaN
4614                                                  NaN
4615     [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]
4616                                                  NaN
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

### 10) How many items were ordered in total?

### 11) Turn the item price into a float

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

### 13) How many orders were made in the period?

### 14) What is the average revenue amount per order?

### 15) How many different items are sold?