In [3]:
#question 1
L = [1, 23, "hello", 1]
type(L)

list

In [4]:
#question 2
s1={1,2,3}
s1.issubset(s1)

True

In [6]:
#question 3
"hello"+1+2+3
#print("hello"+1+2+3)

TypeError: can only concatenate str (not "int") to str

In [7]:
#question 4
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [9]:
#question 5
t=(1,2,4,3)
print(t[3])
#t[3]=45#invalid

3

TypeError: 'tuple' object does not support item assignment

In [18]:
#question 6
import numpy as np
train_set=np.array([1,2,3])
test_set=np.array([[0,1,2],[1,2,3]])
#resulting_set=np.concatenate([train_set,test_set])##invalid
#resulting_set=train_set.append(test_set) ##invalid
resulting_set=np.vstack([train_set,test_set])
resulting_set

array([[1, 2, 3],
       [0, 1, 2],
       [1, 2, 3]])

In [19]:
#question 10
i=0
while i<3:
    print(i)
    i+=1
else:
    print(0)

0
1
2
0

In [22]:
#question 12
l=[[1,2,3],[4,5,6]]
for i in range(len(l)):
    for j in range(len(l[i])):
        l[i][j]+=10
l

[[11, 12, 13], [14, 15, 16]]

In [23]:
#question 13
word='aeioubcdfg'
print(word[:3]+word[3:])

aeioubcdfg

In [24]:
#question 14
a="2"
int(a)

2

In [26]:
#question 15
count=1
def dothis():
    global count
    for i in(1,2,3):
        count+=1
dothis()
print(count)

4

In [33]:
#question 16
a=[1,2,3,4,5]
b=[6,7,8]
c=[1,2,3,4,5]
d=[6,7,8]

a.append(b)
print(a)
c.extend(d)
print(c)

[1, 2, 3, 4, 5, [6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
import pandas as pd
df=pd.DataFrame([['ff', 'gg', 'hh', 'yy'],[24, 12, 48, 30]],columns = ['Name', 'Age','X','Y'])
df['Name']
df.loc[:'Name']

  Name Age   X   Y
0   ff  gg  hh  yy
1   24  12  48  30

In [40]:
import urllib2

ModuleNotFoundError: No module named 'urllib2'

In [41]:
#question 17
r=lambda q: q*2
s=lambda q: q*3
x=2
x=r(x)
x=s(x)
x=r(x)
print(x)

24

In [42]:
#question 18
x=['ab','cd']
print(list(map(list,x)))

[['a', 'b'], ['c', 'd']]

In [43]:
#question 19
mylist=[1,5,5,5,1]
maxk=mylist[0]
indexofMax=0
for i in range(1,len(mylist)):
    if mylist[i]>maxk:
        maxk=mylist[i]
        indexofMax=i
print(indexofMax)

1

In [44]:
#question 20
numbers={}
letters={}
comb={}
numbers[1]=56
numbers[3]=7
letters[4]='B'
comb['Numbers']=numbers
comb['Letters']=letters
print(comb)

{'Numbers': {1: 56, 3: 7}, 'Letters': {4: 'B'}}

In [48]:
#question 21
abc=1,000,000
print(abc)
#a b c =1000 2000 300 ##invalid

SyntaxError: invalid syntax (<ipython-input-48-6082905252a1>, line 4)